---
title: Support tables for HTML and CSS in emails
layout: default
---
<div class="caniemail-block">
	<h1 class="caniemail-list-title"><a href="/news/">Latest news</a></h1>
	<ul class="caniemail-list">
		{% for post in site.posts limit:5 %}
		<li><a href="{{ post.url }}">{{ post.title | escape_once }}</a>, {{ post.date | date: '%B %d, %Y' }}</li>
		{% endfor %}
	</ul>
	<a href="/news/" class="feature-button">View all news</a>
</div>
<div class="caniemail-block">
	<h1 class="caniemail-list-title"><a href="/features/">Latest features</a></h1>
	<ul class="caniemail-list">
		{% for feature in site.features limit:5 %}
		<li><a href="{{ feature.url }}">{{ feature.title | escape_once }}</a></li>
		{% endfor %}
	</ul>
	<a href="/features/" class="feature-button">View all features</a>
</div>