---
title: To do
layout: default
---
<div class="post">
	<div class="post-inside">
		<h1>To do</h1>
		<p>
			Can I email is based on contributions. Want to help? Here are a few tasks you can help with, even if you know nothing about email development.
		</p>
		{% comment %}
		<h2 class="caniemail-list-title">{{ site.features.size }} Features to test</h2>
		<ol class="caniemail-list">
			{% for feature in site.features %}
				{% assign todo-platform = feature.stats.outlook.windows-10-mail %}
				{% if todo-platform.size == nil or todo-platform.size == 0 %}
				<li><a href="{{ feature.url }}">{{ feature.title | escape_once }}</a></li>
				{% else %}
					{% for version in todo-platform %}
						{% if forloop.last == true %}
							{% assign version-value = version | last | split: ' ' | first %}
							{% if version-value == "u" %}
							<li>
							<a href="{{ feature.url }}">{{ feature.title | escape_once }}</a>
							</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		</ol>
		{% endcomment %}
		<h2 class="caniemail-list-title">Add links</h2>
		<ul class="caniemail-list">
			{% for feature in site.features %}
				{% if feature.links.size == nil or feature.links.size == 0 %}
			<li><a href="{{ feature.url }}">{{ feature.title | escape_once }}</a></li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>