<div class="caniemail-block">
	<h1 class="caniemail-list-title">Client scores</h1>
	{% comment %}
		Client scores.
		Building an array of the global score pour each client family.
	{% endcomment %}
	{% assign client-scores-families = "" | split: '' %}
	{% assign client-scores-y = "" | split: '' %}
	{% assign client-scores-a = "" | split: '' %}
	{% assign client-scores-n = "" | split: '' %}
	{% assign client-scores-u = "" | split: '' %}
	{% comment %}
		1. We go through each existing feature.
	{% endcomment %}
	{% for feature in site.features %}
		{% assign feature-stats = feature.stats %}
		{% comment %}
			2. We go through each family of the current feature.
		{% endcomment %}
		{% for family in feature.stats %}
			{% assign family-key = family | first %}
			{% assign family-values = feature.stats[family-key] %}
			{% assign family-index = 0 %}
			{% comment %}
				3. We add the family to the `client-scores-families` array if it doesn't exist yet.
			{% endcomment %}
			{% unless client-scores-families contains family-key %}
				{% assign client-scores-families = client-scores-families | push: family-key %}
				{% assign client-scores-y = client-scores-y | push: 0 %}
				{% assign client-scores-a = client-scores-a | push: 0 %}
				{% assign client-scores-n = client-scores-n | push: 0 %}
				{% assign client-scores-u = client-scores-u | push: 0 %}
				{% assign family-index = client-scores-families.size | minus: 1 %}
			{% else %}
				{% comment %}
					If the family already exists, we get its index in the `client-scores-families` array.
				{% endcomment %}
				{% for client-scores-family in client-scores-families %}
					{% if client-scores-family == family-key %}
						{% assign family-index = forloop.index | minus: 1 %}
					{% endif %}
				{% endfor %}
			{% endunless %}
			{% comment %}
				4. We go through each platform of the current family and
				keep track of the support value for the most recent version.
			{% endcomment %}
			{% for platform in family-values %}
				{% assign platform-key = platform | first %}
				{% assign platform-values = platform | last %}
				{% for version in platform-values %}
					{% if forloop.last == true %}
						{% assign version-key = version | first %}
						{% assign version-values = version | last | split: ' ' | first %}
						{% case version-values %}
							{% when 'y' %}
								{% assign new-client-scores-y = '' | split:'' %}
								{% for client-scores-y-value in client-scores-y %}
									{% assign i = forloop.index | minus:1 %}
									{% assign new-value = client-scores-y[i] %}
									{% if i == family-index %}
										{% assign new-value = client-scores-y[family-index] | plus:1 %}
									{% endif %}
									{% assign new-client-scores-y = new-client-scores-y | push:new-value %}
								{% endfor %}
								{% assign client-scores-y = new-client-scores-y %}
							{% when 'a' %}
								{% assign new-client-scores-a = '' | split:'' %}
								{% for client-scores-a-value in client-scores-a %}
									{% assign i = forloop.index | minus:1 %}
									{% assign new-value = client-scores-a[i] %}
									{% if i == family-index %}
										{% assign new-value = client-scores-a[family-index] | plus:1 %}
									{% endif %}
									{% assign new-client-scores-a = new-client-scores-a | push:new-value %}
								{% endfor %}
								{% assign client-scores-a = new-client-scores-a %}
							{% when 'n' %}
								{% assign new-client-scores-n = '' | split:'' %}
								{% for client-scores-n-value in client-scores-n %}
									{% assign i = forloop.index | minus:1 %}
									{% assign new-value = client-scores-n[i] %}
									{% if i == family-index %}
										{% assign new-value = client-scores-n[family-index] | plus:1 %}
									{% endif %}
									{% assign new-client-scores-n = new-client-scores-n | push:new-value %}
								{% endfor %}
								{% assign client-scores-n = new-client-scores-n %}
							{% when 'u' %}
								{% assign new-client-scores-u = '' | split:'' %}
								{% for client-scores-u-value in client-scores-u %}
									{% assign i = forloop.index | minus:1 %}
									{% assign new-value = client-scores-u[i] %}
									{% if i == family-index %}
										{% assign new-value = client-scores-u[family-index] | plus:1 %}
									{% endif %}
									{% assign new-client-scores-u = new-client-scores-u | push:new-value %}
								{% endfor %}
								{% assign client-scores-u = new-client-scores-u %}
						{% endcase %}
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	<ul class="caniemail-list">
		{% for client-family in client-scores-families %}
		<li>
			{% assign i = forloop.index | minus:1 %}
			{{ site.data.nicenames.family[client-family] | default: client-family }}
			(y:{{client-scores-y[i]}})
		</li>
		{% endfor %}
	</ul>
</div>