{% comment %}
	Estimated support.
	Showing visual representation of global support based on emailclientmarketshare.com.
{% endcomment %}
<div class="feature-support">
	{% assign support-scores-y = 0 %}
	{% assign support-scores-a = 0 %}
	{% assign support-scores-n = 0 %}
	{% assign support-scores-u = 0 %}
	{% assign support-scores-names-y = "" | split: '' %}
	{% assign support-scores-names-a = "" | split: '' %}
	{% assign support-scores-names-n = "" | split: '' %}
	{% assign support-scores-names-u = "" | split: '' %}
	{% for share-client in site.data.emailclientmarketshare.clients %}
		{% comment %}
			1. For each "client" in data.emailclientmarketshare.clients,
			we get the name, share percentage and list of matching clients.
		{% endcomment %}
		{% assign share-client-key = share-client | first %}
		{% assign share-client-values = share-client | last %}
		{% assign share-client-name = share-client-values.name %}
		{% assign share-client-marketshare = share-client-values.share | replace: '%', '' %}
		{% assign share-client-match = share-client-values.match %}
		{% assign share-client-average-support = '' %}
		{% for support-client in share-client-match %}
			{% comment %}
				2. For each matching client, we get its support values in page.stats.
			{% endcomment %}
			{% assign support-client = support-client | first %}
			{% assign support-client-family = support-client | split: '.' | first %}
			{% assign support-client-platform = support-client | split: '.' | last %}
			{% assign support-client-values = page.stats[support-client-family][support-client-platform] %}
			{% for support-version in support-client-values %}
				{% comment %}
					3. We then go through only the latest support value.
				{% endcomment %}
				{% if forloop.last == true %}
					{% assign support-version-key = support-version | first %}
						{% assign support-version-values = support-version | last | split: ' ' | first %}
					{% comment %}
						4. We calculate the average support for the current "emailclientmarketshare" client.
					{% endcomment %}
					{% if share-client-average-support == '' %}
						{% assign share-client-average-support = support-version-values %}
					{% elsif share-client-average-support == 'u' and support-version-values != 'u' %}
						{% assign share-client-average-support = support-version-values %}
					{% elsif share-client-average-support == 'y' and support-version-values != 'y' and support-version-values != 'u' %}
						{% assign share-client-average-support = 'a' %}
					{% elsif share-client-average-support == 'n' and support-version-values != 'n' and support-version-values != 'u' %}
						{% assign share-client-average-support = 'a' %}
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		{% assign share-client-average-support = share-client-average-support | default: 'u' %}
		{% comment %}
			5. We assign the average value of the current "emailclientmarketshare" client to the corresponding array.
		{% endcomment %}
		{% if share-client-average-support == 'y' %}
			{% assign support-scores-names-y = support-scores-names-y | push: share-client-name %}
			{% assign support-scores-y = support-scores-y | round: 2 | plus: share-client-marketshare %}
		{% elsif share-client-average-support == 'a' %}
			{% assign support-scores-names-a = support-scores-names-a | push: share-client-name %}
			{% assign support-scores-a = support-scores-a | plus: share-client-marketshare %}
		{% elsif share-client-average-support == 'n' %}
			{% assign support-scores-names-n = support-scores-names-n | push: share-client-name %}
			{% assign support-scores-n = support-scores-n | plus: share-client-marketshare %}
		{% elsif share-client-average-support == 'u' %}
			{% assign support-scores-names-u = support-scores-names-u | push: share-client-name %}
			{% assign support-scores-u = support-scores-u | plus: share-client-marketshare %}
		{% endif %}
	{% endfor %}
	{% assign support-scores-u = 100 | minus: support-scores-y | minus: support-scores-a | minus: support-scores-n %}
	{% comment %}
		6. We display the data.
	{% endcomment %}
	<p class="feature-support-title">Estimated support <span class="beta-tag">Beta</span></p>
	<div class="score">
		{% if support-scores-y != 0 %}
			{% assign support-scores-names-y-string = support-scores-names-y | join: ", " %}
			{% assign support-scores-names-y-string = support-scores-y | append: '% ' | append: site.data.nicenames.support['supported'] | downcase | append: ' in ' | append: support-scores-names-y-string | append: "." %}
			<div title="{{ support-scores-names-y-string }}" role="group" style="width:{{ support-scores-y }}%;" class="supported"></div>
		{% endif %}
		{% if support-scores-a != 0 %}
			{% assign support-scores-names-a-string = support-scores-names-a | join: ", " %}
			{% assign support-scores-names-a-string = support-scores-a | append: '% ' | append: site.data.nicenames.support['mitigated'] | downcase | append: ' in ' | append: support-scores-names-a-string | append: "." %}
			<div title="{{ support-scores-names-a-string }}" role="group" style="width:{{ support-scores-a }}%;" class="mitigated"></div>
		{% endif %}
		{% if support-scores-n != 0 %}
			{% assign support-scores-names-n-string = support-scores-names-n | join: ", " %}
			{% assign support-scores-names-n-string = support-scores-n | append: '% ' | append: site.data.nicenames.support['unsupported'] | downcase | append: ' in ' | append: support-scores-names-n-string | append: "." %}
			<div title="{{ support-scores-names-n-string }}" role="group" style="width:{{ support-scores-n }}%;" class="unsupported"></div>
		{% endif %}
		{% if support-scores-u != 0 %}
			{% assign support-scores-names-u-string = support-scores-names-u | join: ", " %}
			{% assign support-scores-names-u-string = support-scores-u | append: '% ' | append: site.data.nicenames.support['unknown'] | downcase | append: ' in ' | append: support-scores-names-u-string | append: " and others." %}
			<div title="{{ support-scores-names-u-string }}" role="group" class="unknown"></div>
		{% endif %}
	</div>
	<p class="feature-support-summary">
		{% if support-scores-y != 0 %}
			<span class="feature-support-summary-value feature-support-summary-value--supported" title="{{ support-scores-y }}% {{ site.data.nicenames.support['supported'] | downcase }}">{{ support-scores-y }}%</span>
			{% if support-scores-a != 0 %}
			+ 
			{% else %}
			{{ site.data.nicenames.support['supported'] | downcase }}
			{% endif %}
		{% endif %}
		{% if support-scores-a != 0 %}
			<span class="feature-support-summary-value feature-support-summary-value--mitigated" title="{{ support-scores-a }}% {{ site.data.nicenames.support['mitigated'] | downcase }}">{{ support-scores-a }}%</span>
			{% if support-scores-y == 0 %}
			{{ site.data.nicenames.support['mitigated'] | downcase }}
			{% endif %}
		{% endif %}
		{% if support-scores-y != 0 and support-scores-a != 0 %}
			= {{ support-scores-y | plus: support-scores-a }}%
		{% endif %}
	</p>
	<p class="feature-support-legend">Based on <a href="https://www.emailclientmarketshare.com">EmailClientMarketShare.com</a>. <a href="/support/">Learn more</a>.</p>
</div>