{% comment %}
	Estimated support.
	Showing visual representation of global support based on emailclientmarketshare.com.
{% endcomment %}
{% assign support-scores-y = 0 %}
{% assign support-scores-a = 0 %}
{% assign support-scores-n = 0 %}
{% assign support-scores-u = 0 %}
{% assign support-scores-names-y = "" | split: '' %}
{% assign support-scores-names-a = "" | split: '' %}
{% assign support-scores-names-n = "" | split: '' %}
{% assign support-scores-names-u = "" | split: '' %}

{% comment %}
	1. We loop through every email client family of the current feature page.
{% endcomment %}
{% for support-family in page.stats %}
	{% assign support-family-key = support-family | first %}
	{% assign support-family-values = page.stats[support-family-key] %}
	{% assign support-client-name = site.data.nicenames.family[support-family-key] | default: support-family-key %}
	{% comment %}
		2. We loop through every platform listed for that family.
	{% endcomment %}
	{% for support-platform in support-family-values %}
		{% assign support-platform-key = support-platform | first %}
		{% assign support-platform-values = support-platform | last %}
		{% if forloop.first == true %}
			{% assign support-client-name = support-client-name | append: ' (' %}
		{% else %}
			{% assign support-client-name = support-client-name | append: ', ' %}
		{% endif %}
		{% assign support-client-name = support-client-name | append: site.data.nicenames.platform[support-platform-key] | default: client-platform %}
		{% if forloop.last == true %}
			{% assign support-client-name = support-client-name | append: ')' %}
		{% endif %}
		{% comment %}
			3. We go for the last version listed for that specific email client.
		{% endcomment %}
		{% for support-version in support-platform-values %}
			{% if forloop.last == true %}
				{% assign support-version-key = support-version | first %}
				{% assign support-version-value = support-version | last | split: ' ' | first %}
				{% comment %}
					4. We assign the average value of the current "emailclientmarketshare" client to the corresponding array.
				{% endcomment %}
				{% if support-version-value == 'y' %}
					{% assign support-scores-names-y = support-scores-names-y | push: support-client-name %}
					{% assign support-scores-y = support-scores-y | plus: 1 %}
				{% elsif support-version-value == 'a' %}
					{% assign support-scores-names-a = support-scores-names-a | push: support-client-name %}
					{% assign support-scores-a = support-scores-a | plus: 1 %}
				{% elsif support-version-value == 'n' %}
					{% assign support-scores-names-n = support-scores-names-n | push: support-client-name %}
					{% assign support-scores-n = support-scores-n | plus: 1 %}
				{% elsif support-version-value == 'u' %}
					{% assign support-scores-names-u = support-scores-names-u | push: support-client-name %}
					{% assign support-scores-u = support-scores-u | plus: 1 %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}
{% comment %}
	5. We calculate the share in percentage of each support.
{% endcomment %}
{% assign support-number-of-clients = support-scores-y | plus: support-scores-a | plus: support-scores-n | plus: support-scores-u %}
{% if support-scores-y != 0 %}
	{% assign support-scores-y = support-scores-y | times: 100.0 | divided_by: support-number-of-clients | round: 2 %}
{% endif %}
{% if support-scores-a != 0 %}
	{% assign support-scores-a = support-scores-a | times: 100.0 | divided_by: support-number-of-clients | round: 2 %}
{% endif %}
{% if support-scores-n != 0 %}
	{% assign support-scores-n = support-scores-n | times: 100.0 | divided_by: support-number-of-clients | round: 2 %}
{% endif %}
{% if support-scores-u != 0 %}
	{% assign support-scores-u = 100.0 | minus: support-scores-y | minus: support-scores-a | minus: support-scores-n | round: 2 %}
{% endif %}
{% comment %}
	6. We display the data.
{% endcomment %}
<div class="feature-support">
	<p class="feature-support-title">Estimated Support <a href="/support/">About</a></p>
	<div class="score">
		{% if support-scores-y != 0 %}
			{% assign support-scores-names-y-string = support-scores-names-y | join: ", " %}
			{% assign support-scores-names-y-string = support-scores-y | append: '% ' | append: site.data.nicenames.support['supported'] | downcase | append: ' in ' | append: support-scores-names-y-string | append: "." %}
			<div tabindex="0" title="{{ support-scores-names-y-string }}" role="group" style="width:{{ support-scores-y }}%;" class="supported"></div>
		{% endif %}
		{% if support-scores-a != 0 %}
			{% assign support-scores-names-a-string = support-scores-names-a | join: ", " %}
			{% assign support-scores-names-a-string = support-scores-a | append: '% ' | append: site.data.nicenames.support['mitigated'] | downcase | append: ' in ' | append: support-scores-names-a-string | append: "." %}
			<div tabindex="0" title="{{ support-scores-names-a-string }}" role="group" style="width:{{ support-scores-a }}%;" class="mitigated"></div>
		{% endif %}
		{% if support-scores-n != 0 %}
			{% assign support-scores-names-n-string = support-scores-names-n | join: ", " %}
			{% assign support-scores-names-n-string = support-scores-n | append: '% ' | append: site.data.nicenames.support['unsupported'] | downcase | append: ' in ' | append: support-scores-names-n-string | append: "." %}
			<div tabindex="0" title="{{ support-scores-names-n-string }}" role="group" style="width:{{ support-scores-n }}%;" class="unsupported"></div>
		{% endif %}
		{% if support-scores-u != 0 %}
			{% assign support-scores-names-u-string = support-scores-names-u | join: ", " %}
			{% assign support-scores-names-u-string = support-scores-u | append: '% ' | append: site.data.nicenames.support['unknown'] | downcase | append: ' in ' | append: support-scores-names-u-string | append: "." %}
			<div tabindex="0" title="{{ support-scores-names-u-string }}" role="group" class="unknown"></div>
		{% endif %}
	</div>
	<p class="feature-support-summary">
		{% if support-scores-y != 0 %}
			{% assign support-scores-y-title-string = "" %}
			{% if support-scores-a != 0 %}
				{% assign support-scores-y-title-string = 'title="' | append: support-scores-y | append: "% " | append: site.data.nicenames.support['supported'] | downcase | append: '"' %}
			{% endif %}
			<span class="feature-support-summary-value supported" {{ support-scores-y-title-string }}>{{ support-scores-y }}%</span>
			{% if support-scores-a != 0 %}
			+ 
			{% else %}
			{{ site.data.nicenames.support['supported'] | downcase }}
			{% endif %}
		{% endif %}
		{% if support-scores-a != 0 %}
			{% assign support-scores-a-title-string = "" %}
			{% if support-scores-y != 0 %}
				{% assign support-scores-a-title-string = 'title="' | append: support-scores-a | append: "% " | append: site.data.nicenames.support['mitigated'] | downcase | append: '"' %}
			{% endif %}
			<span class="feature-support-summary-value mitigated" {{ support-scores-a-title-string }}>{{ support-scores-a }}%</span>
			{% if support-scores-y == 0 %}
			{{ site.data.nicenames.support['mitigated'] | downcase }}
			{% endif %}
		{% endif %}
		{% if support-scores-y != 0 and support-scores-a != 0 %}
			= {{ support-scores-y | plus: support-scores-a }}%
		{% endif %}
	</p>
</div>