<footer class="caniemail-footer" role="contentinfo">
	<div class="caniemail-footer-section">
		<h1 class="caniemail-footer-title">Can I email…</h1>
		<p>
			Based on the original <a href="https://www.caniuse.com">caniuse.com</a> by <a href="https:/www.twitter.com/Fyrd">@Fyrd</a> and designed by <a href="https://www.twitter.com/Lensco">@Lensco</a>.<br />
			Original name and idea by <a href="https://www.twitter.com/M_J_Robbins">@M_J_Robbins</a> and the team at <a href="https://www.gorebel.com/">Rebel</a>.<br />
			Launched by <a href="https://www.twitter.com/HTeuMeuLeu">@HTeuMeuLeu</a> and the team at <a href="https://www.tilt-studio.fr/">Tilt Studio</a>.
		</p>
		<p>
			Support data contributions by the wonderful email geeks community <a href="https://www.github.com/HTeuMeuLeu/caniemail/graphs/contributors">on GitHub</a>.
		</p>
	</div>
	<div class="caniemail-footer-section">
		<h1 class="caniemail-footer-title">Legend</h1>
		<ol class="legend-list">
			<li><span class="supported"></span> = Supported</li>
			<li><span class="unsupported"></span> = Not supported</li>
			<li><span class="mitigated"></span> = Partial support</li>
			<li><span class="unknown"></span> = Support unknown</li>
		</ol>
		<p class="a11y-colors">
			<button type="button" class="a11y-colors-button">Enable accessible colors</button>
			<noscript>
				<style>.a11y-colors { display:none; }</style>
			</noscript>
		</p>
	</div>
	<p class="beta">
		This site is in beta. It even says so in the URL. If you see something wrong, please <a href="https://github.com/hteumeuleu/caniemail/issues">report bugs on GitHub</a> or contact me on <a href="https://www.twitter.com/caniemail/">Twitter</a>. Thanks! — <a href="https://www.twitter.com/HTeuMeuLeu">@HTeuMeuleu</a>.
	</p>
</footer>