<footer class="caniemail-footer" role="contentinfo">
	<div class="caniemail-footer-section">
		<h1 class="caniemail-footer-title">Can I email…</h1>
		<p>
			Based on the original <a href="https://www.caniuse.com">caniuse.com</a> by <a href="https://twitter.com/Fyrd">@Fyrd</a> and designed by <a href="https://www.twitter.com/Lensco">@Lensco</a>.<br />
			Also based on the original name and idea by <a href="https://twitter.com/M_J_Robbins">@M_J_Robbins</a> and the team at <a href="https://www.gorebel.com/">Rebel</a>.<br />
			Launched by <a href="https://twitter.com/HTeuMeuLeu">@HTeuMeuLeu</a> and the team at <a href="https://www.tilt-studio.fr/">Tilt Studio</a>.
		</p>
		<p>
			Support data contributions by the wonderful email geeks community <a href="https://github.com/HTeuMeuLeu/caniemail/graphs/contributors">on GitHub</a>.
		</p>
		<p>
			If you see something wrong, please <a href="https://github.com/hteumeuleu/caniemail/issues">report bugs on GitHub</a> or contact us on <a href="https://www.twitter.com/caniemail/">Twitter</a>.
		</p>
	</div>
	<div class="caniemail-footer-section">
		<h1 class="caniemail-footer-title">Site links</h1>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/features/">Feature index</a></li>
			<li><a href="/scoreboard/">Email Client Support Scoreboard</a></li>
			<li><a href="https://github.com/HTeuMeuLeu/caniemail">Caniemail on GitHub</a></li>
		</ul>
		<p class="beta-features">
			<button type="button" class="beta-features-button caniemail-link-button" data-label-toggle="Disable beta features">Enable beta features</button>
			<noscript>
				<style>.beta-features { display:none; }</style>
			</noscript>
		</p>
	</div>
	<div class="caniemail-footer-section">
		<h1 class="caniemail-footer-title">Legend</h1>
		<ol class="legend-list">
			<li><span class="supported"></span> = Supported</li>
			<li><span class="unsupported"></span> = Not supported</li>
			<li><span class="mitigated"></span> = Partial support</li>
			<li><span class="unknown"></span> = Support unknown</li>
		</ol>
		<p class="a11y-colors">
			<button type="button" class="a11y-colors-button caniemail-link-button" data-label-toggle="Use default colors">Enable accessible colors</button>
			<noscript>
				<style>.a11y-colors { display:none; }</style>
			</noscript>
		</p>
	</div>
</footer>
