{%- comment -%}
	Dynamic og:description.
	The goal is to display something like:
	"Supported in Apple Mail and Gmail. Partial support in Outlook. Not supported in Yahoo! Mail."
{%- endcomment -%}
{%- assign og-description-default-value = "Support tables for HTML and CSS in emails." -%}
{%- assign page-most-popular-families = "" | split: '' -%}
{%- comment -%}
	1. We go through the `most-popular-families` variable defined in `data.settings`.
	If the current page/feature has data for this feature, we add it to the array.
{%- endcomment -%}
{%- for default in site.data.settings.most-popular-families -%}
	{%- assign family-key = default -%}
	{%- if page.stats[default].size > 0  -%}
		{%- assign page-most-popular-families = page-most-popular-families | push: family-key -%}
	{%- endif -%}
{%- endfor -%}
{%- comment -%}
	2. We go through the page/feature `stats` and add all the keys.
{%- endcomment -%}
{%- assign page-stats-keys = "" | split: '' -%}
{%- for default in page.stats -%}
	{%- assign family-key = default | first -%}
	{%- assign page-stats-keys = page-stats-keys | push: family-key -%}
{%- endfor -%}
{%- comment -%}
	3. Previous step might introduce duplicate. So we `concat` the two previous arrays built and use the `uniq` filter to remove duplicates.
{%- endcomment -%}
{%- assign page-most-popular-families = page-most-popular-families | concat: page-stats-keys | uniq -%}
{%- comment -%}
	4. Going through the four first email client families.
{%- endcomment -%}
{%- assign og-description-y = "" | split: '' -%}
{%- assign og-description-a = "" | split: '' -%}
{%- assign og-description-n = "" | split: '' -%}
{%- for default in page-most-popular-families limit:4 -%}
	{%- assign family-key = default -%}
	{%- assign family-values = page.stats[default] -%}
	{%- assign family-average-support = '' -%}
	{%- for platform in family-values -%}
		{%- assign platform-key = platform | first -%}
		{%- assign platform-values = platform | last -%}
		{%- for version in platform-values -%}
			{%- if forloop.last == true -%}
				{%- assign version-key = version | first -%}
				{%- assign version-values = version | last | split: ' ' | first -%}
				{%- comment -%}
					5. Assign highest support value possible.
					If it's a mix of anything, result should be 'a'.
					'y' and 'n' are only possible when all versions have the same support.
				{%- endcomment -%}
				{%- if family-average-support == '' -%}
					{%- assign family-average-support = version-values -%}
				{%- elsif family-average-support == 'u' and version-values != 'u' -%}
					{%- assign family-average-support = version-values -%}
				{%- elsif family-average-support == 'y' and version-values != 'y' and version-values != 'u' -%}
					{%- assign family-average-support = 'a' -%}
					{%- break -%}
				{%- elsif family-average-support == 'n' and version-values != 'n' and version-values != 'u' -%}
					{%- assign family-average-support = 'a' -%}
					{%- break -%}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
	{%- case family-average-support -%}
		{%- when 'y' -%}
			{%- assign og-description-y = og-description-y | push: site.data.nicenames.family[family-key] -%}
		{%- when 'a' -%}
			{%- assign og-description-a = og-description-a | push: site.data.nicenames.family[family-key] -%}
		{%- when 'n' -%}
			{%- assign og-description-n = og-description-n | push: site.data.nicenames.family[family-key] -%}
	{%- endcase -%}
{%- endfor -%}
{%- comment -%}
	6. Display the result as a proper sentence.
{%- endcomment -%}
{%- assign og-description-value = "" -%}
{%- if og-description-y.size > 0 -%}
	{%- assign og-description-y-string = og-description-y | join: ", " -%}
	{%- assign og-description-value = og-description-value | append: site.data.nicenames.support['supported'] | append: ' in ' | append: og-description-y-string | append: ". " -%}
{%- endif -%}
{%- if og-description-a.size > 0 -%}
	{%- assign og-description-a-string = og-description-a | join: ", " -%}
	{%- assign og-description-value = og-description-value | append: site.data.nicenames.support['mitigated'] | append: ' in ' | append: og-description-a-string | append: ". " -%}
{%- endif -%}
{%- if og-description-n.size > 0 -%}
	{%- assign og-description-n-string = og-description-n | join: ", " -%}
	{%- assign og-description-value = og-description-value | append: site.data.nicenames.support['unsupported'] | append: ' in ' | append: og-description-n-string | append: ". " -%}
{%- endif -%}
{%- if og-description-value == "" -%}
	{%- assign og-description-value = og-description-default-value -%}
{%- endif -%}
{{- og-description-value | strip -}}