<div class="caniemail-search" role="search">
	<form action="/search/" method="get" class="caniemail-search-form">
		<label for="caniemail-search" class="caniemail-search-label">Can I email</label>
		<span class="caniemail-search-input-container"><input type="search" class="caniemail-search-input" id="caniemail-search" name="s" spellcheck="false" value="" placeholder="HTML, CSS, &hellip;" {% if page.url == "/" %}autofocus{% endif %} /></span>
		<span class="caniemail-search-question-mark" aria-hidden="hidden">?</span>
		<span class="caniemail-search-actions">
			<noscript>
				<button type="submit" class="caniemail-search-button">Search</button>
			</noscript>
			<button type="button" class="caniemail-settings-button"><span class="icon" aria-hidden="hidden"></span> Settings</button>
		</span>
	</form>
</div>