%button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: rem(40px);
	padding: rem(4px) rem(16px);
	color: #fff;
	font-size: rem(16px);
	text-decoration: none;
	text-align: center;
	border-radius: rem(3px);
	border: rem(1px) solid rgba(255, 255, 255, 0.2);
	background: none;
	cursor: pointer;

	&:focus,
	&:hover {
		background: rgba(255, 255, 255, 0.2);
	}

	&:active,
	&:focus {
		outline: 1px dotted #fff;
		outline-offset: rem(4px);
		border-color: rgba(255, 255, 255, 0.75);
	}

	&::-moz-focus-inner {
		border: none;
	}
}

.button {
	@extend %button;

	.icon {
		margin-right: 0.25em;
	}
}

.button-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	margin: rem(-8px);

	&:not(:last-child) {
		margin-bottom: rem(8px);
	}

	& > .button {
		margin: rem(8px);
	}
}