// Header navigation
.menu {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-bottom: rem(80px);

	@media only screen and (max-width: rem(480px)) {
		margin-bottom: calc(1rem + 13.3333vw);
	}
}

.nav {
	display: flex;
	flex-direction: row;

	@media only screen and (max-width: rem(480px)) {
		width: 100%;
	}

	@media only screen and (min-width: rem(801px)), only screen and (max-width: rem(480px)) {
		display: contents;
	}
}

.tab {
	margin-right: rem(8px);
	padding: 0.25em 0.75em;
	min-height: rem(40px);
	color: #fff;
	font-weight: 300;
	font-size: rem(20px);
	text-decoration: none;
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.1);
	text-transform: capitalize;

	@media only screen and (min-width: rem(560px)) {
		text-transform: none;
	}

	&.current {
		background-color: $color-blue-dark;
	}

	&:not(.current):focus,
	&:not(.current):hover {
		background-color: $color-blue;
	}

	@media only screen and (min-width: rem(801px)) {
		&:last-child {
			margin-right: 0;
		}
	}

	.menu > & {
		margin-right: 0;
	}

	@media only screen and (max-width: rem(480px)) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;
		padding-left: 0.5em;
		padding-right: 0.5em;
		font-size: rem(16px);
	}

	@media only screen and (max-width: rem(319px)) {
		font-size: rem(13.6px);
	}
}

.tab-longname {
	display: none;

	@media only screen and (min-width: rem(560px)) {
		display: inline;
	}
}

// Latest post in header
.latest-post {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	padding: rem(4px) rem(12px);
	min-height: rem(32px);
	font-weight: 300;
	font-size: rem(18px);

	@media only screen and (max-width: rem(800px)) {
		display: none;
	}
}

.latest-post-date {
	&::after {
		content: '-';
		margin: 0 0.5ch;
	}
}

.latest-post-title {
	color: #fff;
	text-decoration: underline;
	overflow: hidden;
	text-overflow: ellipsis;

	&:focus,
	&:hover {
		color: $color-blue;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}
