// Settings
.settings {
	position: relative;
	overflow: hidden;
	margin: -1rem -1rem 1rem -1rem;
	width: calc(100% + 2rem);
	color: #fff;
	background: #0a84ff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: transform ease-in-out 0.3s;

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		width: 1rem;
		height: 1rem;
		background: none;
		border: 1px solid #fff;

		& + label {
			display: flex;
			line-height: 1.25;

			&::before {
				content: '';
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-right: 0.25rem;
				flex-grow: 0;
				flex-shrink: 0;
				width: 1rem;
				height: 1rem;
				background: none;
				border: 1px solid #fff;
				box-sizing: border-box;
			}
		}

		&:focus + label {
			outline: 1px dotted #fff;
			outline-offset: 0.25rem;
		}

		&:checked + label::before {
			content: '\2714\FE0E';
			font-size: 0.85em;
			color: #0a84ff;
			background-color: #fff;
		}

		&:indeterminate + label::before {
			content: '-';
			font-weight: bold;
			font-family: sans-serif;
		}
	}
}

.settings-title {
	position: sticky;
	left: 0;
	display: inline-block;
	padding: 1rem;
	font-size: 1.5rem;

	@media only screen and (max-width: 50rem) {
		font-size: 1.25rem;
	}

	@media only screen and (max-width: 23.4375rem) {
		font-size: 1rem;
	}

	.button {
		margin-left: 1ch;
		vertical-align: middle;
		font-size: rem(12px);
		min-width: rem(100px);
	}
}

.settings-options {
	overflow: auto;
}

.settings-list {
	display: flex;
	list-style: none;

	ul {
		list-style: none;
		margin-left: 1.5rem;
	}
}

.settings-child-list {
	margin-top: 0.5rem;
}

.settings-list-item {
	flex-shrink: 0;
	flex-grow: 0;
	width: 9.5rem;
	padding: 1rem;
	border-top: 1px solid rgba(255, 255, 255, 0.25);

	&:not(:last-child) {
		border-right: 1px solid rgba(255, 255, 255, 0.25);
	}

	&:nth-child(2n) {
		background-color: rgba(255, 255, 255, 0.05);
	}
}

.settings-child-list-item {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	line-height: 1.2;

	input[type="checkbox"] + label::before {
		margin-top: -0.1rem;
	}
}

.settings-button {

	.icon {

		.settings-opened & {
			transform: rotate(90deg);
		}

	}
}