// Settings
.settings {
	position: relative;
	overflow: hidden;
	margin: -1rem -1rem 1rem -1rem;
	width: calc(100% + 2rem);
	color: #fff;
	background: #0a84ff;
	border: 1px solid rgba(255, 255, 255, 0.5);
	transition: transform ease-in-out 0.3s;

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		width: 1rem;
		height: 1rem;
		background: none;
		border: 1px solid #fff;

		& + label {
			display: flex;
			line-height: 1.25;

			&::before {
				content: '';
				display: inline-flex;
				align-items: center;
				justify-content: center;
				margin-right: 0.25rem;
				flex-grow: 0;
				flex-shrink: 0;
				width: 1rem;
				height: 1rem;
				background: none;
				border: 1px solid #fff;
				box-sizing: border-box;
			}
		}

		&:focus + label {
			outline: 1px dotted #fff;
			outline-offset: 0.25rem;
		}

		&:checked + label::before {
			content: '\2714';
			font-size: 0.75em;
		}

		&:indeterminate + label::before {
			content: '-';
			font-weight: bold;
			font-family: sans-serif;
		}
	}
}

.settings-title {
	position: sticky;
	left: 0;
	display: inline-block;
	padding: 1rem;
	font-size: 1.5rem;

	@media only screen and (max-width: 50rem) {
		font-size: 1.25rem;
	}

	@media only screen and (max-width: 23.4375rem) {
		font-size: 1rem;
	}

	.feature-button {
		margin-left: 1ch;
		vertical-align: middle;
		cursor: pointer;
		font-size: 0.75rem;
	}
}

.settings-options {
	overflow: auto;
}

.settings-list {
	display: flex;
	list-style: none;

	ul {
		list-style: none;
		margin-left: 1.5rem;
	}
}

.settings-child-list {
	margin-top: 0.5rem;
}

.settings-list-item {
	flex-shrink: 0;
	flex-grow: 0;
	width: 9.5rem;
	padding: 1rem;
	border-top: 1px solid rgba(255, 255, 255, 0.25);

	&:not(:last-child) {
		border-right: 1px solid rgba(255, 255, 255, 0.25);
	}

	&:nth-child(2n) {
		background-color: rgba(255, 255, 255, 0.05);
	}
}

.settings-child-list-item {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	line-height: 1.2;

	input[type="checkbox"] + label::before {
		margin-top: -0.1rem;
	}
}

.settings-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;

	.icon {
		display: inline-block;
		margin-right: 0.25em;
		width: 1em;
		height: 1em;
		vertical-align: middle;
		transform-origin: center center;
		transition: transform ease-out 0.3s;
		background-size: cover;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M92.347 41.162L84.113 40.1c-.096-.33-.193-.656-.293-.965l-.125-.373c-.115-.343-.229-.685-.348-.998a14.185 14.185 0 00-.186-.484l-.08-.209a21.11 21.11 0 00-.266-.668c-.091-.217-.185-.432-.279-.647l-.299-.672a34.557 34.557 0 00-.488-1.007c-.004-.01-.042-.084-.045-.094l-.1-.194c-.152-.297-.31-.591-.484-.907l5.074-6.574a3.044 3.044 0 00-.258-4.014l-8.229-8.229a3.046 3.046 0 00-4.014-.256l-6.574 5.071c-.299-.166-.6-.327-.891-.478a8.774 8.774 0 00-.257-.127l-.062-.03a32.94 32.94 0 00-1.444-.682l-.187-.082a27.99 27.99 0 00-.68-.295c-.234-.099-.473-.189-.711-.281l-.638-.245a36.328 36.328 0 00-1.077-.373l-.288-.097a33.457 33.457 0 00-.989-.301l-1.063-8.234a3.043 3.043 0 00-3.02-2.656h-11.63a3.049 3.049 0 00-3.021 2.656l-1.062 8.234c-.331.096-.657.194-.974.297l-.305.102c-.36.119-.721.242-1.072.371-.125.047-.252.096-.377.145l-.146.057-.072.027c-.252.098-.504.195-.744.295-.229.096-.453.194-.681.295l-.219.097-.422.188c-.332.152-.659.314-.998.483l-.306.151c-.303.154-.6.313-.905.483l-6.573-5.071a3.042 3.042 0 00-4.013.256l-8.228 8.229a3.045 3.045 0 00-.258 4.014l5.072 6.573c-.165.3-.328.601-.486.91l-.154.312c-.162.324-.321.647-.479.99l-.287.646c-.095.215-.188.43-.293.674-.106.264-.211.531-.326.831l-.061.155c-.046.117-.093.233-.132.347-.133.358-.256.722-.389 1.121-.031.089-.062.177-.082.241-.104.33-.205.66-.302.992l-8.233 1.063a3.043 3.043 0 00-2.656 3.02v11.635a3.046 3.046 0 002.656 3.021l8.234 1.063c.096.33.195.662.307 1.006l.096.281c.117.356.238.713.367 1.061.05.135.101.266.151.398l.103.262c.089.23.177.459.271.684.095.23.195.457.298.686l.096.216c.061.142.121.278.186.42.156.336.32.67.48.991l.156.312c.152.302.313.599.482.906l-5.073 6.571a3.044 3.044 0 00.259 4.015l8.228 8.228a3.045 3.045 0 004.013.258l6.574-5.072c.301.166.604.328.908.484l.289.145c.334.168.67.332 1.006.488.131.061.264.119.396.176l.168.074c.25.111.502.223.76.33.221.092.442.178.666.264l.299.117c.125.049.25.096.378.143.348.127.698.248 1.063.369l.303.102c.32.104.645.199.981.299l1.062 8.234a3.045 3.045 0 003.021 2.656h11.635a3.047 3.047 0 003.02-2.656l1.063-8.234c.329-.096.658-.194.987-.301l.312-.104c.354-.117.705-.238 1.045-.363.133-.047.263-.098.394-.15l.249-.096c.236-.092.473-.182.707-.279.24-.1.48-.204.719-.311l.229-.102c.125-.055.248-.109.373-.166.342-.158.682-.326 1.033-.502l.267-.133c.301-.154.599-.314.907-.484l6.574 5.072a3.041 3.041 0 004.012-.258l8.229-8.228a3.05 3.05 0 00.26-4.015l-5.072-6.571c.168-.308.334-.615.494-.931l.113-.229c.178-.354.352-.707.512-1.057l.278-.623c.104-.234.207-.469.308-.711s.195-.488.293-.744l.065-.168c.056-.143.11-.283.16-.424.121-.326.231-.656.353-1.012l.117-.347c.104-.323.2-.646.297-.979l8.233-1.063a3.04 3.04 0 002.656-3.02V44.182a3.046 3.046 0 00-2.657-3.02zm-27.689 8.836c0 8.08-6.574 14.654-14.656 14.654-8.08 0-14.653-6.574-14.653-14.654s6.573-14.654 14.653-14.654c8.082 0 14.656 6.574 14.656 14.654zM34.094 78.305z" fill="white" /></svg>');
		// Gear icon by Marta Ambrosetti from the Noun Project
		// https://thenounproject.com/term/gear/781059

		.settings-opened & {
			transform: rotate(90deg);
		}

	}
}