.post--client {
	margin-top: rem(16px);
	scroll-margin-top: rem(16px);

	ul.client-tags {
		margin: 0;

		li {
			margin: 0 rem(4px) rem(4px) 0;
		}
	}

	& > .post-title {
		margin-left: 0;
	}

	.post-title .client-name {
		color: #fff;
	}

	.list-title {
		margin-top: rem(32px);
		color: #fff;
		border-bottom: none;
	}
}

.client-tags {
	list-style: none;
	font-size: 0;

	li {
		display: inline-block;
		font-size: rem(16px);
	}

	a {
		display: inline-block;
		padding: rem(2px) rem(8px);
		color: #fff;
		background-color: $color-grey;
		text-decoration: none;

		&:hover, &:focus, &:active {
			outline-color: #fff;
			text-decoration: underline;
		}
	}
}