* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 1em;
	min-width: 17.5rem;
	min-height: 100vh;
	font: 1em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	color: #b1b1b3;
	background: #1b1b1d;
	scroll-behavior: smooth;
}

a:active,
a:focus {
	outline: 1px dotted rgba(255, 255, 255, 0.5);
	outline-offset: 0.25rem;
}

.caniemail {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}

// Header navigation
.caniemail-tabs {
	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;
}

.caniemail-nav {
	display: flex;
	flex-direction: row;

	a {
		margin-right: 0.5rem;
		padding: 0.25em 0.75em;
		min-height: 2rem;
		color: #fff;
		font-weight: 300;
		font-size: 1.25rem;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.1);

		&.current,
		&:hover {
			background-color: #204e8a;
		}
	}
}

// Latest post in header
.caniemail-latest-post {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	padding: 0.25rem 0.75rem;
	min-height: 2rem;
	font-weight: 300;
	font-size: 1.125rem;

	@media only screen and (max-width: 50rem) {
		display: none;
	}
}

.caniemail-latest-post-date {
	&::after {
		content: '-';
		margin: 0 0.5ch;
	}
}

.caniemail-latest-post-title {
	color: #fff;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;

	&:hover {
		color: #0a84ff;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

// Search box
.caniemail-search {
	margin-bottom: 1rem;
	padding: 1rem;
	color: #fff;
	line-height: 1.5;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	background: #0a84ff;

	@media only screen and (max-width: 50rem) {
		font-size: 1.5rem;
	}

	@media only screen and (max-width: 22.5rem) {
		font-size: 1rem;
	}

	label {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 auto;
		white-space: nowrap;

		@media only screen and (min-width: 50.0625rem) {
			span {
				flex-basis: 50%;

				&:first-child {
					text-align: right;
				}

				&:last-child {
					text-align: left;
				}
			}
		}
	}
}

.caniemail-search-input {
	flex-shrink: 1;
	margin: 0 1rem;
	width: 100%;
	max-width: 32rem;
	min-width: 0;
	color: inherit;
	font: inherit;
	text-align: center;
	background: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	outline: none;

	&:active,
	&:focus {
		background: rgba(255, 255, 255, 0.2);
	}

	&::-webkit-search-cancel-button {
		margin-right: 1rem;
	}

	@media only screen and (max-width: 50rem) {
		margin-right: 0;
		order: 1;
		min-height: 2.25rem;
		background: rgba(255, 255, 255, 0.2);
	}
}

.caniemail-search-empty {
	max-width: 32rem;
	margin: 1rem auto 0;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	background: #0a84ff;
}

// Lists
.caniemail-list-title {
	display: inline-block;
	padding: 0.5em 0;
	margin-bottom: 0.5em;
	font-size: 1.375rem;
	font-weight: 300;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);

	a {
		color: inherit;
		text-decoration: none;
	}
}

.caniemail-list {
	margin-left: 1rem;

	& > li {
		list-style-type: square;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #0a84ff;
			text-decoration: underline;
		}
	}
}

// Footer
.caniemail-footer {
	margin-top: 5rem;
	padding: 2rem 0;
	border-top: 2px solid rgba(255, 255, 255, 0.2);

	a {
		color: inherit;
	}

	p:not(:last-child) {
		margin-bottom: 0.75rem;
	}
}

.caniemail-footer-title {
	margin-bottom: 0.75rem;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}