* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 1em;
	min-height: 100vh;
	font: 1em/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	color: #b1b1b3;
	background: #1b1b1d;
	scroll-behavior: smooth;
}

a:active,
a:focus {
	outline: 1px dotted rgba(255, 255, 255, 0.5);
	outline-offset: 0.25rem;
}

.caniemail {
	width: 100%;
	max-width: 80rem;
	margin: 0 auto;
}

// Header navigation
.caniemail-nav {
	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;

	a {
		margin-right: 0.5rem;
		padding: 0.25em 0.75em;
		min-height: 2rem;
		color: #fff;
		font-weight: 300;
		font-size: 1.25rem;
		text-decoration: none;
		background-color: rgba(255, 255, 255, 0.1);

		&.current,
		&:hover {
			background-color: #204e8a;
		}
	}
}

// Search box
.caniemail-search {
	margin-bottom: 1rem;
	padding: .375em;
	color: #fff;
	line-height: 1.5;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
	background: #0a84ff;

	@media only screen and (max-width: 38rem) {
		label {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.caniemail-search-input {
	width: 100%;
	color: inherit;
	font: inherit;
	text-align: center;
	max-width: 32rem;
	background: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	border-bottom: 1px solid #fff;
	border-radius: 0;
	order: 1;

	&:active,
	&:focus {
		background: rgba(255, 255, 255, 0.2);
	}

	@media only screen and (max-width: 48rem) {
		background: rgba(255, 255, 255, 0.2);
	}
}

// Lists
.caniemail-list-title {
	display: inline-block;
	padding: 0.5em 0;
	margin-bottom: 0.5em;
	font-size: 1.375rem;
	font-weight: 300;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.caniemail-list {
	margin-left: 1rem;

	& > li {
		list-style-type: square;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #0a84ff;
			text-decoration: underline;
		}
	}
}

// Footer
.caniemail-footer {
	margin-top: 5rem;
	padding: 2rem 0;
	border-top: 2px solid rgba(255, 255, 255, 0.2);

	a {
		color: inherit;
	}

	p:not(:last-child) {
		margin-bottom: 0.75rem;
	}
}

.caniemail-footer-title {
	margin-bottom: 0.75rem;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}