---
title:  "Updated data for Orange.fr’s new desktop webmail"
date: 2021-03-17
---

Orange.fr is currently rolling out [a new desktop webmail](https://messagerie.orange.fr/mail-orange/index.html). And I am afraid it is not a good news.

Out of the 179 HTML and CSS features tested, the new webmail **only supports 95 features** (from previously 156). In our [Email Client Support Scoreboard](/scoreboard/), Orange.fr’s desktop webmail is falling from the 6th position to the **25th position**.

Among the most glaring regressions are CSS properties like background longhand properties (`background-image`, `background-cover`, …), `border-radius`, `display:flex` or CSS units (like `rem`, `vw` or `vh`). And it also filters out the `!important` keyword, making responsive emails harder to build. The webmail also drops support for responsive images with `<picture>` or `srcset`. And it also no longer supports a lot of accessibility related HTML attributes (like `lang`, `role` or any `aria` attribute).

Here’s a full comparison of the old webmail versus the new webmail.

{% assign features-by-custom-order = site.features | sort:'id' %}
<table class="clients-comparison-table">
	<thead>
		<tr>
			<td></td>
			<th scope="col">
				<span class="data-family-name">Orange</span>
				<span class="data-platform-name">Old Desktop Webmail</span>
			</th>
			<th scope="col">
				<span class="data-family-name">Orange</span>
				<span class="data-platform-name">New 2021 Desktop Webmail</span>
			</th>
		</tr>
	</thead>
	<tbody>
	{% for feature in features-by-custom-order %}
		{% assign orange-platform-values = feature.stats.orange.desktop-webmail %}
		{% assign old-support-value = 'u' %}
		{% assign new-support-value = 'u' %}
		{% for version in orange-platform-values %}
			{% assign version-key = version | first %}
			{% assign version-values = version | last | split: ' ' | first %}
			{% if forloop.first == true %}
			{% assign old-support-value = version-values %}
			{% endif %}
			{% if forloop.last == true %}
			{% assign new-support-value = version-values %}
			{% endif %}
		{% endfor %}
		{% if old-support-value != new-support-value %}
			{% case old-support-value %}
				{% when 'y' %}
					{% assign old-stat-class-name = 'supported' %}
				{% when 'n' %}
					{% assign old-stat-class-name = 'unsupported' %}
				{% when 'a' %}
					{% assign old-stat-class-name = 'mitigated' %}
				{% when 'u' %}
					{% assign old-stat-class-name = 'unknown' %}
				{% else %}
					{% assign old-stat-class-name = '' %}
			{% endcase %}
			{% case new-support-value %}
				{% when 'y' %}
					{% assign new-stat-class-name = 'supported' %}
				{% when 'n' %}
					{% assign new-stat-class-name = 'unsupported' %}
				{% when 'a' %}
					{% assign new-stat-class-name = 'mitigated' %}
				{% when 'u' %}
					{% assign new-stat-class-name = 'unknown' %}
				{% else %}
					{% assign new-stat-class-name = '' %}
			{% endcase %}
			<tr>
				<th scope="row"><a href="{{ feature.url }}">{{ feature.title | escape_once }}</a></th>
				<td class="{{ old-stat-class-name }}">{{ site.data.nicenames.support[old-stat-class-name] }}</td>
				<td class="{{ new-stat-class-name }}">{{ site.data.nicenames.support[new-stat-class-name] }}</td>
			</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>