body {
	padding: 0;
	display: flex;
	flex-direction: column;
}

.caniemail {
	margin: auto;
	width: 100%;
	height: rem(432px);
	flex-grow: 1;
	border: rem(3px) solid $color-blue;
	border-bottom: none;
	display: flex;
	flex-direction: column;
}

.caniemail {
	flex-grow: 0;
	max-width: rem(800px);
	max-height: rem(460px);
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: rem(428px);
	padding: rem(16px) rem(16px) 0;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: rem(4px) rem(8px);
	min-height: rem(32px);
	color: #fff;
	font-size: rem(12px);
	background-color: $color-blue;

	a {
		color: inherit;
	}

	p:first-child {
		margin-right: auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.button {
		font-size: inherit;
		min-height: 0;
		padding: rem(2px) rem(8px);
		border-color: rgba(255, 255, 255, 0.5);
	}
}

.a11y-colors {
	margin-left: rem(8px);
}

//
// Feature
//
.feature-header {
	min-height: 0;
	flex-shrink: 0;
}

.feature-title {
	display: inline-block;
	font-size: rem(20px);
	line-height: 1;
}

.feature-category {
	display: inline-block;
	color: #eee;
	font-size: 85%;
	line-height: 1;
	text-transform: uppercase;
	padding: 0.2em 0.4em;
	border-radius: rem(3px);
	background-color: rgba(255, 255, 255, 0.125);
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

// Support score
.feature-footer {
	margin: 0;
	flex-shrink: 0;
}

.feature-support {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	padding: 0;
	margin-top: 0;
	min-width: 0;
	font-size: rem(14px);

	.feature-support-legend,
	.score {
		display: none;
	}

	p:not(:last-child) {
		margin-bottom: 0;
	}
}

	.feature-support-title {
		display: flex;
		margin-right: 1ch;
		color: #fff;
		line-height: 1.375em;
		font-size: rem(14px);

		&::after {
			content: ':';
		}

		a {
			display: none;
		}
	}

// Data
.data-details {
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 rem(-16px);
}

.data-family-list {
	padding-left: 0;
	padding-right: 0;
}

.data-family {
	padding-top: rem(8px);
	padding-bottom: rem(8px);
}

.data-family-name {
	font-size: rem(12px);
	line-height: 1.25;
	min-height: rem(44px);
	margin-bottom: rem(8px);
}

.data-client {
	width: rem(96px);
}

.data-versions-list {
	&::before,
	&::after {
		content: none;
	}
}

.data-version {
	flex-direction: column;
	font-size: rem(10px);
	height: auto;
	min-height: rem(36px);
	padding: rem(4px) rem(8px);
	line-height: 1.125;

	&:last-child:not(:first-child) {
		margin-top: rem(8px);
	}

	&:first-child:last-child {
		margin-top: 0;
	}

	&:hover {
		.data-version-platform {
			display: none;
		}

		.data-version-number {
			display: block;
		}
	}
}

.data-version-platform {
	display: block;
	margin-bottom: rem(2px);
	font-size: rem(11px);

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.data-version-number {
	font-size: rem(12px);
	opacity: 0.85;
	display: none;
}

.data-version-badge {
	right: rem(-2px);
	top: rem(-2px);
	transform: scale(0.65);
	transform-origin: right top;
}

// Alternate layout
.alternate-layout-enabled {
	.data-details {
		display: none;
	}
	.alternate-data-details {
		display: block;
	}
}

.alternate-data-details {
	padding: 0 rem(16px);
	text-align: left;
}

.embed-tags {
	list-style: none;
	font-size: 0;

	li {
		display: inline-block;
		font-size: rem(14px);
		margin: 0 rem(4px) rem(4px) 0;
	}

	.tag-version {
		opacity: 0.9;
	}
}

.embed-tags-title {
	margin: rem(4px) 0;
	color: #fff;
	font-size: rem(16px);
	font-weight: 300;
}