body {
	padding: 0;
	display: flex;
	flex-direction: column;
}

.caniemail {
	margin: auto;
	width: 100%;
	flex-grow: 1;
	border: rem(3px) solid $color-blue;
	border-bottom: none;
	display: flex;
	flex-direction: column;
}

.caniemail {
	flex-grow: 0;
	width: rem(800px);
	min-height: rem(460px);
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: rem(16px) rem(16px) 0;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: rem(4px) rem(8px);
	min-height: rem(32px);
	color: #fff;
	font-size: rem(12px);
	background-color: $color-blue;

	a {
		color: inherit;
	}

	p:first-child {
		margin-right: auto;
	}

	.button {
		font-size: inherit;
		min-height: 0;
		padding: rem(2px) rem(8px);
		border-color: rgba(255, 255, 255, 0.5);
	}
}

.a11y-colors {
	margin-left: rem(8px);
}

//
// Feature
//
.feature-header {
	min-height: 0;
}

.feature-title {
	display: inline-block;
	font-size: rem(20px);
	line-height: 1;
}

.feature-category {
	color: #eee;
	font-size: 85%;
	text-transform: uppercase;
	padding: 0.2em 0.4em;
	border-radius: rem(3px);
	background-color: rgba(255, 255, 255, 0.125);
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

// Support score
.feature-support {
	margin-top: 0;
	min-width: 0;
	font-size: rem(14px);
}

	.feature-support-title {
		color: #b1b1b3;
		line-height: 1;

		a {
			display: none;
		}
	}

// Data
.data-details {
	flex-grow: 1;
	margin: 0 rem(-16px);
}

.data-family-list {
	padding-left: 0;
	padding-right: 0;
}

.data-family {
	padding-top: rem(8px);
	padding-bottom: rem(8px);
}

.data-family-name {
	font-size: rem(14px);
	min-height: rem(36px);
}

.data-client {
	width: rem(88px);
}

.data-version {
	font-size: rem(12px);
}

// Alternate layout
.alternate-layout-enabled {
	.feature-support,
	.data-details {
		display: none;
	}
	.alternate-data-details {
		display: block;
	}
}

.alternate-data-details {
	padding: 0 rem(16px) rem(14px);
	text-align: left;
}

.embed-tags {
	list-style: none;
	font-size: 0;

	li {
		display: inline-block;
		font-size: rem(14px);
		margin: 0 rem(4px) rem(4px) 0;
	}

	.tag-version {
		opacity: 0.9;
	}
}

.embed-tags-title {
	margin: rem(8px) 0;
	color: #fff;
	font-size: rem(20px);
	font-weight: 300;
}