body {
	padding: 0;
	display: flex;
	height: 100vh;
	flex-direction: column;
}

.caniemail {
	margin: auto;
	width: 100%;
	height: 100%;
	flex-grow: 1;
	border: rem(3px) solid $color-blue;
	border-bottom: none;
	display: flex;
	flex-direction: column;
}

.caniemail {
	flex-grow: 1;
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
	padding: rem(16px) rem(16px) 0;
}

.footer {
	padding: rem(4px) rem(8px);
	min-height: rem(32px);
	color: #fff;
	font-size: rem(12px);
	line-height: 1.25;
	background-color: $color-blue;
	flex-shrink: 0;

	.footer-column {
		padding: rem(2px) 0;
	}

	@media only screen and (min-width: rem(480px)) {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.footer-column {
			width: 50%;

			&:nth-child(2) {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				flex-wrap: flex-end;
			}
		}
	}

	a {
		color: inherit;
	}

	.button {
		font-size: inherit;
		min-height: 0;
		padding: rem(2px) rem(8px);
		border-color: rgba(255, 255, 255, 0.5);
	}
}

.footer-last-test-date {
	white-space: nowrap;
}

.a11y-colors {
	margin-left: rem(8px);
}

//
// Feature
//
.feature-header {
	min-height: 0;
	flex-shrink: 0;
}

.feature-title {
	display: inline;
	font-size: rem(20px);
	line-height: 1;
}

.feature-category {
	display: inline-block;
	color: #eee;
	font-size: 85%;
	line-height: 1;
	text-transform: uppercase;
	padding: 0.2em 0.4em;
	border-radius: rem(3px);
	background-color: rgba(255, 255, 255, 0.125);
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

// Support score
.feature-footer {
	margin: 0;
	flex-shrink: 0;
}

.feature-support {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: rem(4px);
	font-size: rem(14px);

	@media only screen and (min-width: rem(800px)) {
		margin-top: 0;
	}

	.feature-support-legend,
	.score {
		display: none;
	}

	p {
		margin-top: rem(2px);
		margin-bottom: rem(2px);
		min-height: rem(21px);
	}
}

	.feature-support-summary {
		white-space: nowrap;
	}

	.feature-support-title {
		display: flex;
		margin-right: 1ch;
		color: #fff;
		line-height: 1.375em;
		font-size: rem(14px);

		&::after {
			content: ':';
		}

		a {
			display: none;
		}
	}

// Feature Header
@media only screen and (min-width: rem(800px)) {
	.feature-header {
		display:flex;
		flex-wrap:wrap;
	}

	.feature-header>.feature-header-column {
		width:50%
	}

	.feature-header>.feature-header-column:nth-child(2) {
		display:flex;
		flex-direction:row;
		justify-content:flex-end;
		align-items: flex-start;
	}

	.feature-support {
		padding: 0 rem(4px);
	}
}

// Data
.data-details {
	display: flex;
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 rem(-16px);
	justify-content: flex-start;

	&[hidden] {
		display: none;
	}
}

.data-family-list {
	padding-left: rem(4px);
	padding-right: rem(4px);
}

.data-family {
	padding: rem(8px) 0;

	&:not([hidden]) ~ &:not([hidden]) {
		border-left: 0;
	}
}

.data-family-name {
	font-size: rem(13px);
	line-height: 1.25;
	min-height: rem(44px);
	margin-bottom: rem(8px);
}

.data-client {
	width: rem(96px);
}

.data-versions-list {
	&::before,
	&::after {
		content: none;
	}
}

.data-version {
	flex-direction: column;
	font-size: rem(10px);
	height: auto;
	min-height: rem(36px);
	padding: 0 rem(8px);
	line-height: 1.125;

	&:last-child:not(:first-child) {
		margin-top: rem(8px);
	}

	&:first-child:last-child {
		margin-top: 0;
	}

	&:hover {
		.data-version-platform {
			display: none;
		}

		.data-version-number {
			display: block;
		}
	}
}

.data-version-platform {
	display: block;
	margin-bottom: rem(2px);
	font-size: rem(13px);

	a {
		display: inline-block;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.data-version-number {
	font-size: rem(12px);
	opacity: 0.85;
	display: none;
}

.data-version-badge {
	right: rem(-2px);
	top: rem(-2px);
	transform: scale(0.65);
	transform-origin: right top;
}

// Alternate layout
.alternate-layout-enabled {
	.data-details {
		display: none;
	}
	.alternate-data-details {
		display: block;
	}
}

.alternate-data-details {
	padding: 0 rem(16px);
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
}

.embed-tags {
	list-style: none;
	font-size: 0;

	li {
		display: inline-block;
		font-size: rem(14px);
		margin: 0 rem(4px) rem(4px) 0;
	}

	.tag-version {
		opacity: 0.9;
	}
}

.embed-tags-title {
	margin: rem(4px) 0;
	color: #fff;
	font-size: rem(16px);
	font-weight: 300;
}

//
// Screenshot View
//
.screenshot-view-enabled {
	.footer .footer-column:nth-child(2) {
		display: none;
	}

	.footer .footer-column {
		width: 100%;
	}
}