// Content block in homepage
.caniemail-block:not(:last-child) {
	margin-bottom: 2rem;
}

// Homepage
.homepage {
	@media (min-width: 32rem) {
		display: grid;
		grid-template-columns: repeat(2, minmax(15rem, 1fr));
		grid-gap: 1rem;
	}

	@media (max-width: 30rem) {
		.score-text {
			margin-left: 1.5rem;
			margin-top: 0.25rem;
			margin-bottom: 0.5rem;
		}
	}

	.button {
		margin-top: rem(12px);
	}

}