// Content block in homepage
.caniemail-block:not(:last-child) {
	margin-bottom: rem(32px);
}

// Homepage
.homepage {
	@media (min-width: rem(512px)) {
		display: grid;
		grid-template-columns: repeat(2, minmax(#{rem(240px)}, 1fr));
		grid-gap: rem(16px);
	}

	@media (max-width: rem(480px)) {
		.score-text {
			margin-left: rem(24px);
			margin-top: rem(4px);
			margin-bottom: rem(8px);
		}
	}

	.button {
		margin-top: rem(12px);
	}

}