---
layout: default
title: All HTML and CSS features on Can I email…
permalink: /features/
---
{% assign features-by-category = site.features | group_by:"category" %}
{% for category in features-by-category %}
	<h1 class="list-title" id="title-{{ category.name | slugify }}">{{ site.data.nicenames.category[category.name] | default: category.name }}</h1>
	<ul class="list list--features">
		{% assign features = category.items | sort:'id' %}
		{% for feature in features %}
			<li><a href="{{ feature.url }}">{{ feature.title | escape_once }}</a></li>
		{% endfor %}
	</ul>
{% endfor %}