<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Can I email… {{ page.title | escape_once | markdownify | strip_html }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css" />
	<script src="/assets/js/caniemail.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="prefetch" href="/assets/js/features.json" />
</head>
<body>
	<div class="caniemail">
		{% include header.html %}
		<main class="caniemail-main" role="main">
			{{ content }}
		</main>
		{% include footer.html %}
	</div>
</body>
</html>