---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{%- if page.collection == 'features' -%}
	<title>Can I email… {{ page.title | escape_once }}</title>
	<link rel="stylesheet" href="{{ site.url }}/assets/css/embed.css" />
	<meta name="robots" content="noindex, nofollow" />
	{%- else -%}
	<title>{{ page.title | escape_once }}</title>
	<link rel="shortcut icon" href="/assets/images/favicon.png" />
	<link rel="stylesheet" href="{{ site.url }}/assets/css/embed-home.css" />
	{%- endif -%}
</head>
<body>
	<div class="caniemail">
		{{ content }}
	</div>
</body>
</html>